._1uqdwjqli1z_IMG_01_2110088176257 { background-image: url('./sprite.jpg'); background-position: 0 0; width: 144px; height: 200px; }
._l_20212-w1iv67z8-lsr_a { background-image: url('./sprite.jpg'); background-position: -144px 0; width: 150px; height: 200px; }
._v-yaka-suveter-s3139-c7_adx-0000025264_kahve-kahverengi_1_detay { background-image: url('./sprite.jpg'); background-position: -294px 0; width: 133px; height: 200px; }
._v-yaka-t-shirt-t1352-m12_adx-00026783_siyah-siyah_1_detay { background-image: url('./sprite.jpg'); background-position: -427px 0; width: 133px; height: 200px; }
