# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apify_storage
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

.vercel
.env
apify_storage

turkmenistan-market-f1b9872438ea.json

data
data-nav

src/components/categoryMenu/*.json
src/components/MarkaMenu/*.json
data-unique

api/_files/kadin/nav/*.json
api/_files/kadin/data.json
api/_files/nav/0-keywords.json
api/_files/nav/1-keywords.json