# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apify_storage
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folde


.env
apify_storage

turkmenistan-market-f1b9872438ea.json

.vercel
# Local Netlify folder
# api/_files/key/elbise/*.json

# api/_files/data/**/*.json

collected-data 
old-data
updated-data

imgs/
# Local Netlify folder
.netlify
zip-data

kcocuk
ecocuk
unzipped-data