body {
    margin: 0;
 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #navbar {

    position:fixed;

    transition: top 0.3s;
    z-index: 100000000;
    background: rgb(252, 252, 252) !important;

  }



  body{
  background:   rgb(252, 252, 252) !important
  }