body {
    margin: 0;
 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #navbar {


    width: 100vw;
    padding-top: 20px;
    transition: top 0.3s;
    z-index: 10000;
    background: rgba(252, 252, 252, 1) !important;

  }



  