._110625859_0 { background-image: url('./sprite.jpg'); background-position: 0 0; width: 133px; height: 200px; }
._403a6c2a-3534-48a0-a974-b6f4e7fb34aa_size624x818 { background-image: url('./sprite.jpg'); background-position: -133px 0; width: 152px; height: 200px; }
._b1eqwripeqb_IMG_01_2110089129603 { background-image: url('./sprite.jpg'); background-position: -285px 0; width: 144px; height: 200px; }
._beli-lastikli-bol-paca-esofman-mavi-cf0959 { background-image: url('./sprite.jpg'); background-position: -429px 0; width: 133px; height: 200px; }
._l_20212-w17960z8-cvl_a { background-image: url('./sprite.jpg'); background-position: -562px 0; width: 150px; height: 200px; }
._rcb4uh4cee2_IMG_01_2110085918928 { background-image: url('./sprite.jpg'); background-position: -712px 0; width: 144px; height: 200px; }
